# Advanced Querying Mongo

Importing libraries and setting up connection

In [1]:
from pymongo import MongoClient
import re
from pandas.io.json import json_normalize

In [2]:
client = MongoClient("mongodb://localhost/companies")
db = client.get_database()

for c in db.list_collections():
    print(c["name"])
    
list(db.list_collections())

companies

[{'name': 'companies',
  'type': 'collection',
  'options': {},
  'info': {'readOnly': False,
   'uuid': UUID('7294c8df-8dae-40a1-b347-d171744188f7')},
  'idIndex': {'v': 2,
   'key': {'_id': 1},
   'name': '_id_',
   'ns': 'companies.companies'}}]

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [47]:
q1 = {'name':'Babelgum'}
list(db["companies"].find(q1,projection={'name':True}))

[{'_id': ObjectId('52cdef7c4bab8bd675297da0'), 'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [72]:
# Your Code
q2 = {'number_of_employees':{'$gte':5000}}
#Para hacer sort con 1 s√≥lo valor, se utiliza la tupla con el -1 para hacerlo descendente.
top_emp = db.companies.find(q2,projection={'name','number_of_employees'}).sort('number_of_employees', -1).limit(20)
list(top_emp)

[{'_id': ObjectId('52cdef7d4bab8bd67529941a'),
  'name': 'Siemens',
  'number_of_employees': 405000},
 {'_id': ObjectId('52cdef7c4bab8bd67529856a'),
  'name': 'IBM',
  'number_of_employees': 388000},
 {'_id': ObjectId('52cdef7d4bab8bd675299d33'),
  'name': 'Toyota',
  'number_of_employees': 320000},
 {'_id': ObjectId('52cdef7c4bab8bd675297e89'),
  'name': 'PayPal',
  'number_of_employees': 300000},
 {'_id': ObjectId('52cdef7e4bab8bd67529b0fe'),
  'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'_id': ObjectId('52cdef7d4bab8bd675298aa4'),
  'name': 'Samsung Electronics',
  'number_of_employees': 221726},
 {'_id': ObjectId('52cdef7d4bab8bd675298b99'),
  'name': 'Accenture',
  'number_of_employees': 205000},
 {'_id': ObjectId('52cdef7e4bab8bd67529a657'),
  'name': 'Tata Consultancy Services',
  'number_of_employees': 200300},
 {'_id': ObjectId('52cdef7e4bab8bd67529aa51'),
  'name': 'Flextronics International',
  'number_of_employees': 200000},
 {'_id': ObjectId('52cdef7d4bab8bd675299156'),
  'name': 'Safeway',
  'number_of_employees': 186000},
 {'_id': ObjectId('52cdef7c4bab8bd675297e6f'),
  'name': 'Sony',
  'number_of_employees': 180500},
 {'_id': ObjectId('52cdef7c4bab8bd675298517'),
  'name': 'LG',
  'number_of_employees': 177000},
 {'_id': ObjectId('52cdef7d4bab8bd675299d31'),
  'name': 'Ford',
  'number_of_employees': 171000},
 {'_id': ObjectId('52cdef7d4bab8bd675298b28'),
  'name': 'Boeing',
  'number_of_employees': 160000},
 {'_id': ObjectId('52cdef7e4bab8bd67529bb5c'),
  'name': 'Digital Equipment Corporation',
  'number_of_employees': 140000},
 {'_id': ObjectId('52cdef7c4bab8bd675297fc2'),
  'name': 'Nokia',
  'number_of_employees': 125000},
 {'_id': ObjectId('52cdef7d4bab8bd675299839'),
  'name': 'MItsubishi Electric',
  'number_of_employees': 107000},
 {'_id': ObjectId('52cdef7d4bab8bd675299bc3'),
  'name': 'MItsubishi Electric',
  'number_of_employees': 107000},
 {'_id': ObjectId('52cdef7c4bab8bd6752987ad'),
  'name': 'Comcast',
  'number_of_employees': 100000},
 {'_id': ObjectId('52cdef7d4bab8bd675298d67'),
  'name': 'Bertelsmann',
  'number_of_employees': 100000}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [78]:
# Your Code
q3 = {'$and':[{'founded_year':{"$gte":2000}},{'founded_year':{"$lte":2005}}]}
found_year = db.companies.find(q3,projection={'name','founded_year'}).sort('founded_year',1)
list(found_year.limit(10))

[{'_id': ObjectId('52cdef7c4bab8bd675297dd5'),
  'name': 'AllofMP3',
  'founded_year': 2000},
 {'_id': ObjectId('52cdef7c4bab8bd675297dd9'),
  'name': 'Steorn',
  'founded_year': 2000},
 {'_id': ObjectId('52cdef7c4bab8bd675297ddb'),
  'name': 'MeeVee',
  'founded_year': 2000},
 {'_id': ObjectId('52cdef7c4bab8bd675297e38'),
  'name': 'PhotoBox',
  'founded_year': 2000},
 {'_id': ObjectId('52cdef7c4bab8bd675297e73'),
  'name': 'Boonex',
  'founded_year': 2000},
 {'_id': ObjectId('52cdef7c4bab8bd675297ea9'),
  'name': 'Sulake',
  'founded_year': 2000},
 {'_id': ObjectId('52cdef7c4bab8bd675297eb6'),
  'name': 'SelectMinds',
  'founded_year': 2000},
 {'_id': ObjectId('52cdef7c4bab8bd675297ef2'),
  'name': 'ContextWeb',
  'founded_year': 2000},
 {'_id': ObjectId('52cdef7c4bab8bd675297efd'),
  'name': 'ZoomInfo',
  'founded_year': 2000},
 {'_id': ObjectId('52cdef7c4bab8bd675297f12'),
  'name': 'eHarmony',
  'founded_year': 2000}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [82]:
# Your Code
q4 = {'$and':[{'ipo.valuation_amount':{'$gte':100000000}},{'founded_year':{'$lte':2010}}]}
found_year = db.companies.find(q4,projection={'name','ipo.valuation_amount'}).sort('founded_year',1)
list(found_year.limit(20))

[{'_id': ObjectId('52cdef7c4bab8bd675297f15'),
  'name': 'Nielsen',
  'ipo': {'valuation_amount': 1600000000}},
 {'_id': ObjectId('52cdef7e4bab8bd67529b996'),
  'name': 'Western Digital',
  'ipo': {'valuation_amount': 9430000000}},
 {'_id': ObjectId('52cdef7c4bab8bd67529859a'),
  'name': 'BMC Software',
  'ipo': {'valuation_amount': 6000000000}},
 {'_id': ObjectId('52cdef7c4bab8bd6752987fe'),
  'name': 'Geeknet',
  'ipo': {'valuation_amount': 134000000}},
 {'_id': ObjectId('52cdef7d4bab8bd6752992c1'),
  'name': 'QlikTech',
  'ipo': {'valuation_amount': 1000000000}},
 {'_id': ObjectId('52cdef7c4bab8bd675297e7a'),
  'name': 'Amazon',
  'ipo': {'valuation_amount': 100000000000}},
 {'_id': ObjectId('52cdef7c4bab8bd675297f36'),
  'name': 'OpenTable',
  'ipo': {'valuation_amount': 1050000000}},
 {'_id': ObjectId('52cdef7c4bab8bd675298527'),
  'name': 'Rackspace',
  'ipo': {'valuation_amount': 5440000000}},
 {'_id': ObjectId('52cdef7c4bab8bd675298674'),
  'name': 'Tencent',
  'ipo': {'valuation_amount': 11000000000}},
 {'_id': ObjectId('52cdef7c4bab8bd675298112'),
  'name': 'Shutterfly',
  'ipo': {'valuation_amount': 350000000}},
 {'_id': ObjectId('52cdef7c4bab8bd67529823b'),
  'name': 'Salesforce',
  'ipo': {'valuation_amount': 110000000}},
 {'_id': ObjectId('52cdef7c4bab8bd6752984e3'),
  'name': 'QuinStreet',
  'ipo': {'valuation_amount': 140000000}},
 {'_id': ObjectId('52cdef7c4bab8bd67529865c'),
  'name': 'Infoblox',
  'ipo': {'valuation_amount': 824000000}},
 {'_id': ObjectId('52cdef7c4bab8bd675298760'),
  'name': 'Baidu',
  'ipo': {'valuation_amount': 4000000000}},
 {'_id': ObjectId('52cdef7d4bab8bd6752989a0'),
  'name': 'Opsware',
  'ipo': {'valuation_amount': 450000000}},
 {'_id': ObjectId('52cdef7d4bab8bd6752989f2'),
  'name': 'Telenav',
  'ipo': {'valuation_amount': 337000000}},
 {'_id': ObjectId('52cdef7d4bab8bd675299103'),
  'name': 'Mixi',
  'ipo': {'valuation_amount': 970000000}},
 {'_id': ObjectId('52cdef7e4bab8bd67529a7db'),
  'name': 'SolarWinds',
  'ipo': {'valuation_amount': 803000000}},
 {'_id': ObjectId('52cdef7e4bab8bd67529ad05'),
  'name': 'DemandTec',
  'ipo': {'valuation_amount': 245000000}},
 {'_id': ObjectId('52cdef7e4bab8bd67529b3bd'),
  'name': 'Cornerstone OnDemand',
  'ipo': {'valuation_amount': 900000000}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [ ]:
# Your Code
q5 = {'$and':[{'ipo.valuation_amount':{'$gte':100000000}},{'founded_year':{'$lte':2010}}]}
found_year = db.companies.find(q5,projection={'name','ipo.valuation_amount'}).sort('founded_year',1)
list(found_year.limit(20))

### 6. All the companies that don't include the `partners` field.

In [ ]:
# Your Code

### 7. All the companies that have a null type of value on the `category_code` field.

In [ ]:
# Your Code

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [ ]:
# Your Code

### 9. Order all the companies by their IPO price in a descending order.

In [ ]:
# Your Code

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [ ]:
# Your Code

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [ ]:
# Your Code

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [ ]:
# Your Code

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [ ]:
# Your Code

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [ ]:
# Your Code

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [ ]:
# Your Code

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [ ]:
# Your Code

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [ ]:
# Your Code

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [ ]:
# Your Code

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [ ]:
# Your Code

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code